.navBackground {
  background-color: rgba(161, 20, 255, 0.05);
}

.columnColor {
  background-color: rgba(20, 36, 255, 0.05);
}

.columnMainListColor {
  background-color: rgba(20, 36, 255, 0.05);
}

.columnSubListColor {
  background-color: rgba(20, 36, 255, 0.04);
}

.columnSubListColor:nth-child(odd) {
  background-color: rgba(20, 36, 255, 0.08);
}
